<!-- Início do conteúdo -->
<div class="content-wrapper">
  <div class="container">

    <section class="content-header">
    </section>
    
    <section class="content">
      <div class="jumbotron welcome-jumbotron">
        <p>
          Hosana Silviano Ribeiro
        </p>
           <h1>Endereço:Rua Canuto, n°22.Bairro Santo Elias</h1>
           <h1> Telefone: (21)3746-2677</h1>

         
          <a class="btn btn-danger btn-lg" style="color:black">bye</a>
      </div>
    </section>

  </div>
</div>
<!-- Fim do conteúdo -->